{
  "env": {
    "browser": true
  },
  "globals": {
    "_": true,
    "__dirname": true,
    "$": true,
    "after": false,
    "afterEach": false,
    "alert": true,
    "async": true,
    "before": false,
    "beforeEach": false,
    "BridgeDb": true,
    "console": true,
    "crossPlatformShapes": true,
    "crossPlatformText": true,
    "d3": true,
    "describe": false,
    "global": true,
    "he": true,
    "highland": true,
    "it": false,
    "jsonld": true,
    "jQuery": true,
    "loadImage": true,
    "m": true,
    "module": true,
    "Modernizr": true,
    "pvjs": true,
    "pvjsHighlighter": true,
    "pvjsNotifications": true,
    "pathvisioNS": true,
    "process": true,
    "RGBColor": true,
    "root": true,
    "simpleModal": true,
    "strcase": true,
    "svgPanZoom": true,
    "typeahead": true,
    "uuid": true,
    "require": true
  },
  "rules": {
    "curly": 2,
    "eqeqeq": 0,
    "no-loop-func": 0,
    "no-caller": 2,
    "no-undef": 2,
    "no-unused-vars": 0,
    "comma-style": [
      2,
      "last"
    ],
    "semi": [
      2,
      "always"
    ],
    "max-len": [
      2,
      100
    ]
  }
}
