.Viewport .Text > tspan {
  all: inherit;
  direction: inherit;
  dominant-baseline: inherit;
  fill: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  overflow: inherit;
  pointer-events: none;
  /*
  stroke: inherit;
  stroke-width: inherit;
  */
  stroke: none;
  stroke-width: 0px;
  text-anchor: inherit;
}

marker {
  /* this is what should work per the spec
  stroke-dasharray: none; */
  /* but I need to add this to make it work in Safari */
  stroke-dasharray: 9999999999999999999999999;
}
