.kaavioUserSpecifiedContainer {
  font-family: "Roboto";
  position: "relative";
  width: "100%";
  height: "100%";
  overflow: "hidden"
}

.kaavioContainer {
  width: inherit;
  height: inherit;
}

.kaavioDiagram {
  width: inherit;
  height: inherit;
}
