.UserSpecifiedContainer {
  font-family: "Roboto";
  position: "relative";
  width: "100%";
  height: "100%";
  overflow: "hidden"
}

.Container {
  width: inherit;
  height: inherit;
}

.Diagram {
  width: inherit;
  height: inherit;
}
